<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8 />
    <title>Bienvenue dans l'application VTR21 2.0</title>
    <style>
        * {
            font-family: sans-serif;
        }
    </style>
</head>
<body style="background-color: #f2f7f9;">
<div style="background-color: white;max-width:500px;display:block;width: 500px;margin-left: auto;margin-right: auto;margin-top: 33px;">
    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color:white;padding-top: 15px;border-top: 4px solid <%= couleurSociete %>;padding-left: 30px;padding-right: 30px;">
        <tr style="background-color:white;">
            <td align="center" style="background-color:white;">
                <img class="center" src="<%= logoSociete %>" />
            </td>
        </tr>
        <tr style="background-color:white;">
            <td align="center" style="background-color:white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="427" height="81.141" viewBox="0 0 427 81.141"><defs><style>.a,.c{fill:#d4145a;}.a,.b{opacity:0.91;}.d{fill:#333;}</style></defs><g transform="translate(-199.778 -741.461)"><path class="a" d="M273.106,822.6H209.12a9.353,9.353,0,0,1-9.342-9.342V776a9.287,9.287,0,0,1,3.565-7.342l32.022-25.2a9.327,9.327,0,0,1,11.5-.038l31.964,24.8a9.281,9.281,0,0,1,3.615,7.381V813.26A9.353,9.353,0,0,1,273.106,822.6ZM238.44,747.374l-32.022,25.2A4.344,4.344,0,0,0,204.751,776V813.26a4.374,4.374,0,0,0,4.37,4.369h63.986a4.374,4.374,0,0,0,4.37-4.369V775.611a4.34,4.34,0,0,0-1.691-3.452l-31.964-24.8a4.363,4.363,0,0,0-5.381.018Z"/><g class="b" transform="translate(220.06 779.091)"><circle class="c" cx="4.108" cy="4.108" r="4.108" transform="translate(0 0)"/><circle class="c" cx="4.108" cy="4.108" r="4.108" transform="translate(33.89 0)"/></g><path class="a" d="M259.451,835.81c-5.394,0-8.033-2.517-9.3-4.628a9.843,9.843,0,0,1-1.376-4.7,2.486,2.486,0,0,1,4.973-.026c.027,1.033.523,4.377,5.7,4.377,5.68,0,6.087-4.039,6.114-4.5a2.486,2.486,0,0,1,4.964.3C270.523,826.727,269.859,835.81,259.451,835.81Zm-5.7-9.324h0Z" transform="translate(-18.542 -31.234)"/><g transform="translate(299.285 769.021)"><path class="d" d="M405.371,821.592a13.6,13.6,0,0,1-1.2,5.275,19.01,19.01,0,0,1-3.778,5.571,19.253,19.253,0,0,1-6.58,4.439,23.652,23.652,0,0,1-9.331,1.706,32.591,32.591,0,0,1-7.346-.766,20.621,20.621,0,0,1-6.006-2.385,20.263,20.263,0,0,1-4.961-4.265,25.358,25.358,0,0,1-3.447-5.379,28.022,28.022,0,0,1-2.141-6.354,34.617,34.617,0,0,1-.714-7.172,31.809,31.809,0,0,1,1.793-11.037,23.537,23.537,0,0,1,5.136-8.339,22.4,22.4,0,0,1,7.834-5.275A25.375,25.375,0,0,1,384.2,785.8a23.924,23.924,0,0,1,11.037,2.472,20,20,0,0,1,7.417,6.11,12.067,12.067,0,0,1,2.576,6.877,4.485,4.485,0,0,1-1.254,3.134,3.975,3.975,0,0,1-3.029,1.358,4.187,4.187,0,0,1-2.977-.94,13.009,13.009,0,0,1-2.21-3.238,15.582,15.582,0,0,0-4.753-5.676,11.6,11.6,0,0,0-6.737-1.88,12.208,12.208,0,0,0-10.149,4.84q-3.778,4.839-3.778,13.753a25.545,25.545,0,0,0,1.671,9.906,12.5,12.5,0,0,0,4.735,5.9,13.063,13.063,0,0,0,7.172,1.95,12.583,12.583,0,0,0,7.538-2.211,13.352,13.352,0,0,0,4.648-6.493,11.014,11.014,0,0,1,1.637-3.291,3.7,3.7,0,0,1,3.133-1.271,4.384,4.384,0,0,1,3.168,1.289A4.289,4.289,0,0,1,405.371,821.592Z" transform="translate(-359.864 -785.799)"/><path class="d" d="M478.464,831.932l-2.437-6.407H455.276l-2.437,6.546a22.963,22.963,0,0,1-2.437,5.171,3.879,3.879,0,0,1-3.308,1.34,4.848,4.848,0,0,1-3.447-1.428,4.369,4.369,0,0,1-1.5-3.238,7.215,7.215,0,0,1,.348-2.159q.348-1.114,1.149-3.1L456.7,795.513q.557-1.427,1.341-3.43a17.34,17.34,0,0,1,1.671-3.324,6.8,6.8,0,0,1,2.333-2.142,7.155,7.155,0,0,1,3.569-.818,7.232,7.232,0,0,1,3.6.818,6.933,6.933,0,0,1,2.333,2.107,14.773,14.773,0,0,1,1.5,2.768q.609,1.481,1.549,3.951l13.335,32.938a16.567,16.567,0,0,1,1.567,5.466,4.526,4.526,0,0,1-1.48,3.255,4.865,4.865,0,0,1-3.569,1.48,4.632,4.632,0,0,1-2.089-.435,4.279,4.279,0,0,1-1.463-1.184,10.862,10.862,0,0,1-1.271-2.3Q478.951,833.117,478.464,831.932Zm-20.472-14.171h15.25L465.547,796.7Z" transform="translate(-391.002 -785.799)"/><path class="d" d="M540.544,792.066v37.15H561.5a5.53,5.53,0,0,1,3.848,1.219,3.968,3.968,0,0,1,1.34,3.064,3.865,3.865,0,0,1-1.323,3.046,5.675,5.675,0,0,1-3.865,1.167H536.54q-3.378,0-4.857-1.5t-1.48-4.84V792.066a6.834,6.834,0,0,1,1.41-4.7,4.753,4.753,0,0,1,3.708-1.566,4.929,4.929,0,0,1,3.778,1.55A6.715,6.715,0,0,1,540.544,792.066Z" transform="translate(-424.323 -785.799)"/><path class="d" d="M594.283,832.28V816.09l-12.464-19.324a40.358,40.358,0,0,1-2.315-4.073,6.211,6.211,0,0,1-.679-2.542,4.059,4.059,0,0,1,1.376-3.064,4.777,4.777,0,0,1,3.394-1.288,4.146,4.146,0,0,1,3.221,1.2,36.059,36.059,0,0,1,3.29,4.788l9.54,15.493,9.644-15.493q.87-1.428,1.462-2.4a14.871,14.871,0,0,1,1.306-1.827,5.208,5.208,0,0,1,1.584-1.306,4.564,4.564,0,0,1,2.124-.452,4.481,4.481,0,0,1,3.256,1.271,3.988,3.988,0,0,1,1.305,2.942,6.16,6.16,0,0,1-.661,2.716,35.35,35.35,0,0,1-2.263,3.76l-12.778,19.6v16.19a6.726,6.726,0,0,1-1.463,4.735,5.233,5.233,0,0,1-7.451.018A6.822,6.822,0,0,1,594.283,832.28Z" transform="translate(-442.722 -785.799)"/><path class="d" d="M676.887,818.361h-9.47V832.81a6.749,6.749,0,0,1-1.462,4.7,5.152,5.152,0,0,1-7.451.017,6.727,6.727,0,0,1-1.428-4.648V793.536q0-3.412,1.567-4.874t4.979-1.463h13.265a34.824,34.824,0,0,1,9.053.905,13.5,13.5,0,0,1,5.414,2.89,13.039,13.039,0,0,1,3.465,4.944A17.413,17.413,0,0,1,696,802.519q0,7.8-4.8,11.82T676.887,818.361Zm-2.507-23.4h-6.964v15.6h6.964a20.818,20.818,0,0,0,6.111-.766,7.122,7.122,0,0,0,3.743-2.507,7.486,7.486,0,0,0,1.289-4.561,7.737,7.737,0,0,0-1.985-5.5Q681.309,794.964,674.38,794.963Z" transform="translate(-472.334 -786.329)"/><path class="d" d="M771.3,822.392a15,15,0,0,1-2.385,8.322,15.839,15.839,0,0,1-6.981,5.779,26.144,26.144,0,0,1-10.9,2.09q-7.555,0-12.465-2.855a16.609,16.609,0,0,1-5.658-5.484,12.448,12.448,0,0,1-2.176-6.668,4.52,4.52,0,0,1,4.631-4.561,3.932,3.932,0,0,1,2.768,1.045,8.226,8.226,0,0,1,1.932,3.1,20.649,20.649,0,0,0,2.107,4.074,8.527,8.527,0,0,0,3.186,2.7,11.765,11.765,0,0,0,5.4,1.062,12.179,12.179,0,0,0,7.468-2.141,6.443,6.443,0,0,0,2.873-5.344,5.652,5.652,0,0,0-1.55-4.126,9.99,9.99,0,0,0-4-2.42q-2.454-.836-6.563-1.776a48.091,48.091,0,0,1-9.209-3.012,14.876,14.876,0,0,1-5.884-4.7,12.2,12.2,0,0,1-2.176-7.4,12.709,12.709,0,0,1,2.3-7.486,14.49,14.49,0,0,1,6.65-5.031,27.229,27.229,0,0,1,10.236-1.758,25.324,25.324,0,0,1,8.13,1.167,17.187,17.187,0,0,1,5.693,3.1,12.95,12.95,0,0,1,3.308,4.056,9.357,9.357,0,0,1,1.044,4.143,4.893,4.893,0,0,1-1.306,3.324,4.162,4.162,0,0,1-3.255,1.48,3.741,3.741,0,0,1-2.7-.888,11.934,11.934,0,0,1-2-2.906,13.171,13.171,0,0,0-3.343-4.509q-1.95-1.619-6.267-1.619a10.861,10.861,0,0,0-6.459,1.758,5.115,5.115,0,0,0-2.454,4.231,4.284,4.284,0,0,0,.835,2.646,7.038,7.038,0,0,0,2.3,1.915,15.414,15.414,0,0,0,2.959,1.253q1.5.454,4.944,1.323a77.917,77.917,0,0,1,7.816,2.228,23.784,23.784,0,0,1,5.954,2.96,12.177,12.177,0,0,1,3.83,4.4A14.107,14.107,0,0,1,771.3,822.392Z" transform="translate(-500.208 -785.799)"/><path class="d" d="M831.123,785.8a27.255,27.255,0,0,1,13.631,3.22,20.882,20.882,0,0,1,8.618,9.157,31.218,31.218,0,0,1,2.924,13.945,34.113,34.113,0,0,1-1.6,10.758,23.268,23.268,0,0,1-4.8,8.391,20.99,20.99,0,0,1-7.869,5.431,31.018,31.018,0,0,1-21.413-.052,21.264,21.264,0,0,1-7.9-5.449,23.282,23.282,0,0,1-4.787-8.461,34.16,34.16,0,0,1-1.619-10.689,32.991,32.991,0,0,1,1.689-10.794,23.15,23.15,0,0,1,4.892-8.356,21.158,21.158,0,0,1,7.8-5.275A28.087,28.087,0,0,1,831.123,785.8Zm14.693,26.253a23.955,23.955,0,0,0-1.811-9.714,13.524,13.524,0,0,0-5.17-6.215,14.215,14.215,0,0,0-7.712-2.106,13.972,13.972,0,0,0-5.728,1.166,12.587,12.587,0,0,0-4.526,3.395,16.228,16.228,0,0,0-2.994,5.693,25.731,25.731,0,0,0-1.1,7.782,26.372,26.372,0,0,0,1.1,7.869,16.131,16.131,0,0,0,3.1,5.832,13,13,0,0,0,4.6,3.464,14.517,14.517,0,0,0,12.987-.835,13.723,13.723,0,0,0,5.292-6.128A23.7,23.7,0,0,0,845.816,812.052Z" transform="translate(-528.802 -785.799)"/></g></g></svg>
            </td>
        </tr>
        <tr>
            <td>
                <br /><br />Bonjour <%= nomUtilisateur %> <%= prenomUtilisateur %>,<br /><br />
            </td>
        </tr>
        <tr>
            <td>
                Votre compte est activé vous pouvez désormais accéder à VTR21 2.0.<br /><br />
            </td>
        </tr>
        <tr>
            <td>
                Pour vous connecter, utilisez votre adresse mail professionnelle et votre mot de passe habituel.<br /><br />
            </td>
        </tr>

        <tr>
            <td align="center" style="cursor:pointer">
                <div style="background: <%= couleurSociete %>;width:200px;height:20px;-webkit-border-radius: 20px; -moz-border-radius: 20px;border-radius: 20px;padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;width:300px;text-align:center;">
                    <a href="<%= lienAccesApplicationVTR %>" style="color: white;text-decoration:none;">
                        Se connecter
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <br />
</div>
<br />
<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td align="center">
            <div style="margin-left: auto;margin-right: auto;text-align: center;color: #A0ACC3;font-family: sans-serif;font-size: 12px;width: 500px;text-align:center;">
                Ce message vous est adress&eacute; automatiquement.Nous vous remercions de ne pas r&eacute;pondre ni d'utiliser cette adresse email.
                Nous ne vous demanderons jamais votre mot de passe et nous vous d&eacute;conseillons vivement de le partager avec qui que ce soit.
            </div>
        </td>
    </tr>
</table>
<br>
</body>
</html>
